.block-21 .blog-img {
    display: block;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.block-21 .text {
    width: calc(100% - 100px);
    margin-left: 26px;
}
.block-21 .text .heading {
    font-size: 18px;
}
.block-21 .text .heading a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
}
.block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
    color: #3e64ff;
}
.block-21 .text .meta>div {
    display: inline-block;
    margin-right: 5px;
}
.block-21 .text .meta>div a {
    color: #4d4d4d;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}